.registerbox {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 428px;
  height: 377px;
  background-color: $color-background-register;
  border-radius: 10px;
  &__nav {
    width: 428px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-neutral-light;
    border-radius: 10px 10px 0px 0px;
    &--signin {
      width: 214px;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary;
      border-radius: 10px 10px 0px 0px;
      box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.2);
      color: $color-neutral-light;
    }
    &--signup {
      width: 214px;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #afafaf;
      cursor: pointer;
      &:hover {
        color: $color-neutral-dark;
      }
    }
  }
  &__content {
    width: 428px;
    height: 326px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input {
    margin-bottom: 40px;
    width: 300px;
    // border-radius: 5px;

    // Style placeholder
    /* &::placeholder {
            align-items: center;
            font-family: poppins;
            font-size: 16px;
        } */
  }
  &__cta {
    width: 161px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-neutral;
    color: $color-neutral-light;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: $color-primary;
      color: white;
    }
  }
  &__withoutlogin {
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
  }
}
.registerbox__withoutlogin:hover {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}
