.controler {
  position: absolute;
  width: 100%;
  bottom: 0%;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: opacity 0.5s linear;

  &.is-invisible {
    opacity: 0;
  }
}
