.player__close {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  left: 20px;
  cursor: pointer;
  height: 30px;
  transition: opacity 0.5s linear;

  &.is-invisible {
    opacity: 0;
  }

  &:hover p {
    display: block;
  }
}

.player__close div {
  position: relative;
  width: 25px;
  height: 3px;

  transition: opacity 0.5s linear;
  background-color: $color-neutral-light;
  border-radius: 3px;
  &:hover {
    transform: scale(110%);
  }

  &::after {
    position: absolute;
    content: '';
    width: 70%;
    height: 100%;
    top: 250%;
    background-color: $color-neutral-light;
    border-radius: 3px;
    transform: translateY(-50%) translateX(-10%) rotate(45deg);
  }
  &::before {
    position: absolute;
    content: '';
    width: 70%;
    height: 100%;
    background-color: $color-neutral-light;
    top: -150%;
    border-radius: 3px;
    transform: translateY(-50%) translateX(-10%) rotate(-45deg);
  }
}

.player__close p {
  display: none;
  color: $color-neutral-light;
  margin-left: 20px;
  padding-bottom: 2.5px;
  font-size: 1.2rem;

  &:hover {
    transform: scale(110%);
  }
}
