@keyframes sliding-title {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

.title-component {
  display: flex;
  align-items: center;
  color: $color-neutral-light;
  font-size: 1.5rem;
  font-weight: 600;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

  &.visible {
    animation: sliding-background 1.5s 0.5s ease forwards;
  }
  em {
    color: $color-primary;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: $color-primary;
    border-radius: 50%;
    margin-right: 10px;
  }
}
