@keyframes records-appears {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.record {
  &__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  &__title {
    font-size: 100px;
    font-weight: 600;
    opacity: 0.8;
    color: $color-neutral-light;
    text-align: center;
    margin-bottom: 50px;
  }
  &__section {
    margin-bottom: 5%;
    width: 100%;
  }
}

.img-container {
  opacity: 0;
}

.resume {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;

  @media (max-width: 1300px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (max-width: 1100px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 950px) {
    grid-template-columns: repeat(3, 1fr);
  }

  & a div {
    cursor: pointer;
    width: 200px;
    margin-bottom: 20px;
    transition: transform 0.2s linear;

    & img {
      width: 100%;
    }

    & .progression {
      width: 50%;
      height: 5px;
      background-color: $color-primary;
    }

    &:hover {
      transform: scale(1.5);
    }
  }
}

.records {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;

  @media (max-width: 1300px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (max-width: 1150px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 950px) {
    grid-template-columns: repeat(3, 1fr);
  }

  & div {
    position: relative;
    width: 200px;

    &:hover .delete__record {
      visibility: visible;
    }
    & .delete__record {
      visibility: hidden;
      position: absolute;
      width: 25px;
      height: 25px;
      top: -5%;
      right: -5%;
      border-radius: 50px;
      background-color: $color-neutral-light;
      cursor: pointer;
      transition: visibility 0.3 linear;

      &::before {
        position: absolute;
        content: '';
        display: block;
        width: 70%;
        height: 5px;
        background-color: $color-primary;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) rotate(45deg);
        border-radius: 5px;
      }
      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 70%;
        height: 5px;
        background-color: $color-primary;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) rotate(-45deg);
        border-radius: 5px;
      }
    }

    & a img {
      width: 100%;
    }
  }
}

.myRecords {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.inputContent {
  color: $color-neutral-light;
  display: flex;
  align-items: center;
  transform: translateX(-30px);
}

.inputTitle {
  margin-right: 20px;
  font-size: 1.4rem;
}

.input {
  display: flex;
  align-items: center;
  font-weight: 300;
  letter-spacing: 0.5px;
  cursor: pointer;

  border: 1px solid $color-neutral-light;
  padding: 7px 20px;
  &::after {
    content: '';
    margin-left: 80px;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid $color-neutral-light;
    border-right: 1px solid $color-neutral-light;
    transform: rotate(45deg) translateY(-10%);
  }
}

.records {
  div {
    @for $i from 1 through 40 {
      &:nth-child(#{$i}) {
        animation: records-appears 0.5s #{$i * 0.2}s ease forwards;
      }
    }
  }
}

.resume {
  a {
    @for $i from 1 through 40 {
      &:nth-child(#{$i}) .img-container {
        animation: records-appears 0.5s #{$i * 0.1}s ease forwards;
      }
    }
  }
}
