@keyframes falling-logo {
  from {
    top: 25%;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 40%;
  }
}

@keyframes arrow-moving {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(5px);
  }
}

@keyframes sliding-background {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes appears-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-page {
  margin-top: 51px;
  background-color: $color-neutral-dark;
}

.hero-home {
  width: 100%;
  position: relative;
  overflow: hidden;

  .hero-logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    left: 10%;
    transform: translateY(-70px);
    animation: falling-logo 0.5s 1.5s forwards ease-out;
    z-index: 3;
    @media screen and (max-width: 770px) {
      transform: translateY(-90px);
    }
    @media screen and (max-width: 700px) {
      transform: translateY(-100px);
    }
    @media screen and (max-width: 550px) {
      display: none;
    }

    .btn {
      cursor: pointer;
      margin-top: 20px;
      border-radius: 4px;
      font-size: 20px;
      font-weight: 600;
      background-color: transparent;
      border: 2px solid $color-neutral-light;
      color: $color-neutral-light;
      width: 200px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 0.2s ease, background-color 0.2s ease;

      @media screen and (max-width: 700px) {
        width: 150px;
        height: 30px;
        font-size: 12px;
      }

      &:hover {
        background-color: $color-neutral-light;
        color: $color-neutral-dark;
      }
    }
  }

  .video {
    width: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s ease;

    &.visible {
      opacity: 1;
    }
  }

  .hero-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background: linear-gradient(
      0deg,
      rgba(14, 14, 14, 1) 0%,
      rgba(255, 255, 255, 0) 31%,
      rgba(14, 14, 14, 0) 100%
    );
  }

  .hero-background {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    z-index: 2;
    width: 100%;
    animation: sliding-background 1.5s 0.5s ease forwards;
  }

  .first-category {
    margin: 0 5%;
    z-index: 3;
    position: absolute;
    bottom: 0;
    opacity: 0;
    animation: appears-opacity 1.5s 1s ease forwards;
  }
}

.home-section {
  margin: 0% 5%;
}

.category {
  margin-bottom: 8%;
}

.cta__see__more {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 400;
  color: $color-neutral-light;

  & svg {
    width: 0;
  }
  &::after {
    content: '→';
    margin-left: 3px;
    opacity: 0;
  }
  &:hover {
    text-decoration: underline;
    cursor: pointer;

    &::after {
      content: '→';
      margin-left: 3px;
      opacity: 1;
      animation: arrow-moving 0.2s infinite alternate;
    }
  }
}

@media screen and (max-width: 640px) {
  .cta__see__more {
    div {
      font-size: 10px;
    }
  }
}
