.series {
  &__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 100px;
  }
  &__title {
    font-size: 100px;
    font-weight: 600;
    opacity: 0.8;
    color: $color-neutral-light;
    text-align: center;
    margin-bottom: 60px;
  }
}
.large__slider {
  margin: 100px 0px;
}

.series__section {
  width: 100%;
}