.header {
  padding: 0px 30px;
  color: $color-neutral-light;
  position: fixed;
  top: 0;
  z-index: 7;
  width: 100%;
  height: 61px;
  background-color: $color-neutral-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
  svg {
    width: 26px;
    height: 26px;
    fill: $color-neutral-light;
    cursor: pointer;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 12px;
  width: 550px;
  & li {
    cursor: pointer;
    margin-left: 12px;

    &:hover {
      text-decoration: underline;
    }
    a {
      color: $color-neutral-light;
      text-decoration: none;
      font-size: inherit;
      margin-left: 4px;

      &::after {
        display: block;
        content: "";
        width: 0%;
        height: 2px;
        background-color: $color-primary;
        margin-left: 2px;
      }

      &.active::after {
        width: 100%;
      }
    }
  }

  & li:first-child {
    font-size: 1.8rem;

    & span {
      color: $color-primary;
    }
  }
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 8px;
  width: 400px;
}

.search {
  display: flex;
  align-items: center;

  .search-content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  & svg {
    margin-right: 10px;
  }

  .list {
    background-color: $color-neutral-dark;
    position: absolute;
    top: 100%;
    width: 100%;
    border-radius: 1px;
    overflow: hidden;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 5px 5px;

      li {
        margin-bottom: 20px;
        a {
          width: 100%;
          height: 100%;
          margin-top: 4px;
        }

        cursor: pointer;
        &:hover {
          color: $color-primary;
        }
        p {
          font-size: 12px;
          font-weight: 300;
        }
      }

      .thumbnail {
        height: 20px;
        width: 100%;

        h3 {
          border-radius: 2px;
          background-color: rgba($color: $color-neutral-light, $alpha: 0.1);
          width: 100%;
          display: block;
          height: 16px;
          margin-bottom: 2px;
        }
        p {
          background-color: rgba($color: $color-neutral-light, $alpha: 0.1);
          border-radius: 2px;
          display: block;
          width: 80%;
          height: 12px;
        }
      }
    }
  }

  & input {
    color: $color-neutral-light;
    background-color: $color-neutral-dark;
    border: none;
    width: 100px;

    &::placeholder {
      color: $color-neutral-light;
    }
  }
}

.acount {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;

  & > p:hover {
    text-decoration: underline;
  }

  & svg {
    margin-right: 10px;
  }
}

.tool__logout {
  margin-right: 8;
  & svg {
    height: 28px;
  }
}
// FIXES

.acount__phone {
  display: none;
}

@media screen and (max-width: 900px) {
  .search {
    display: none;
  }
  .acount {
    margin-right: 16px;
    .svg {
      display: none;
    }
  }

  .header {
    font-size: 12px;
  }
  .tools {
    width: 150px;
  }
  .nav {
    width: 450px;
    & li:first-child {
      font-size: 16px;
    }
  }
  .Mes {
    display: none;
  }
}
