.controler__scroll {
  display: flex;
  align-items: center;

  & button {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border: none;

    & svg {
      height: 20px;
      fill: $color-neutral-light;
    }

    &:hover {
      transform: scale(120%);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.backwards {
  margin-right: 10px;
}
