.player-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-page__content {
  color: $color-neutral-light;
  margin-top: 100px;
  width: 90%;
}

.player-page__back-to-home {
  width: 15%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  & svg {
    fill: $color-neutral-light;
    width: 20px;
    margin-right: 10px;
  }
}

.player-page__video-description {
  display: flex;
  flex-direction: column;

  @include large {
    flex-direction: row;
  }
}

.player-page__video {
  width: 200%;
  margin-right: 40px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description__title {
  font-size: 2rem;
  display: flex;
  align-items: center;

  &::before {
    display: inline-block;
    content: '';
    height: 5px;
    width: 20px;
    background-color: $color-primary;
    margin-right: 10px;
  }
}

.description__infos {
  font-size: 1.4rem;
  font-weight: 300;
}

.button-content {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  &::before {
    content: '';
    display: inline-block;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    width: 20px;
    height: 20px;
    background-color: $color-neutral-light;
    margin-right: 10px;
  }
}

.description__synopsis {
  line-height: 1.3rem;

  & span {
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 10px;
  }
}

.description__actors {
  line-height: 1.2rem;

  & span {
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 10px;
  }
}
