.register {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $color-neutral-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  &__title {
    display: flex;
    margin-bottom: 30px;
    color: $color-neutral-light;
    & > span {
      color: $color-primary;
    }
  }
}

@import './sign-in/sign-in.styles.scss';
@import './sign-up/sign-up.styles.scss';
