$breakpoint-medium: 600px;
$breakpoint-large: 970px;

.register {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $color-neutral-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  &__title {
    display: flex;
    margin-bottom: 30px;
    color: $color-neutral-light;
    @media (max-width: $breakpoint-medium) {
      font-size: 40px;
      padding-bottom: 30px;
      }
      @media (max-width: $breakpoint-large) {
        font-size: 40px;
        padding-bottom: 30px;
        }
    & > span {
      color: $color-primary;
    }
    @media (max-width: $breakpoint-medium) {
      font-size: 30px;
      }
  }
}

@import './sign-in/sign-in.styles.scss';
@import './sign-up/sign-up.styles.scss';
