body {
  font-family: poppins;
  background-color: #0e0e0e;
}

.button-component {
  color: #e3e3e3;
  background-color: #16a3cf;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
}

.header {
  padding: 0px 30px;
  color: #e3e3e3;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 61px;
  background-color: #0e0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

.header svg {
  width: 26px;
  height: 26px;
  fill: #e3e3e3;
  cursor: pointer;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.nav li {
  cursor: pointer;
}

.nav li a {
  color: #e3e3e3;
  text-decoration: none;
  font-size: inherit;
}

.nav li a::after {
  display: block;
  content: '';
  width: 0%;
  height: 2px;
  background-color: #16a3cf;
}

.nav li a.active::after {
  width: 100%;
}

.nav li:first-child {
  font-size: 1.8rem;
}

.nav li:first-child span {
  color: #16a3cf;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search svg {
  margin-right: 10px;
}

.search input {
  color: #e3e3e3;
  background-color: #0e0e0e;
  border: none;
  width: 100px;
}

.search input::-webkit-input-placeholder {
  color: #e3e3e3;
}

.search input:-ms-input-placeholder {
  color: #e3e3e3;
}

.search input::-ms-input-placeholder {
  color: #e3e3e3;
}

.search input::placeholder {
  color: #e3e3e3;
}

.acount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.acount svg {
  margin-right: 10px;
}

.tool__logout svg {
  height: 28px;
}

.register {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #0e0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  font-weight: 600;
}

.register__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 80px;
  color: #e3e3e3;
}

.register__title > span {
  color: #16a3cf;
}

.registerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  width: 428px;
  height: 377px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.registerbox__nav {
  width: 428px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e3e3e3;
  border-radius: 10px 10px 0px 0px;
}

.registerbox__nav--signin {
  width: 214px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #16a3cf;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.2);
  color: #e3e3e3;
}

.registerbox__nav--signup {
  width: 214px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afafaf;
  cursor: pointer;
}

.registerbox__nav--signup:hover {
  color: #0e0e0e;
}

.registerbox__content {
  width: 428px;
  height: 326px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registerbox__input {
  margin-bottom: 40px;
  width: 300px;
  /* &::placeholder {
            align-items: center;
            font-family: poppins;
            font-size: 16px;
        } */
}

.registerbox__cta {
  width: 161px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #515151;
  color: #e3e3e3;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.registerbox__cta:hover {
  background-color: #16a3cf;
  color: white;
}

.registerbox__withoutlogin {
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
}

.registerbox__withoutlogin:hover {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.signup__nav {
  width: 936px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 0px 0px;
  background-color: #e3e3e3;
  font-weight: 600;
}

.signup__nav--signin {
  width: 468px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afafaf;
  cursor: pointer;
}

.signup__nav--signin:hover {
  color: #0e0e0e;
}

.signup__nav--signup {
  width: 468px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #16a3cf;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.2);
  color: #e3e3e3;
}

.signup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 936px;
  height: 490px;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 300;
  color: #0e0e0e;
  border-radius: 10px;
}

.signup__form {
  height: 300px;
  width: 936px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 60px;
  text-align: right;
  margin-bottom: 50px;
}

.form__right {
  margin-right: 50px;
}

.form__component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__component > p {
  width: 150px;
  margin-right: 20px;
}

.form__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ctas > input {
  font-family: poppins;
  padding: 10px 30px 10px 30px;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 30px;
  color: #e3e3e3;
  background-color: #515151;
  border: none;
}

.ctas > input:hover {
  background-color: #16a3cf;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.slider-container {
  position: relative;
}

.slider-container .arrow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  cursor: pointer;
}

.slider-container .arrow-wrapper:hover .arrow {
  -webkit-transform: scale(1.9);
          transform: scale(1.9);
}

.slider-container .arrow-wrapper-next {
  right: 0%;
}

.slider-container .arrow-wrapper-prev {
  left: 0%;
}

.slider-container .arrow {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 0.2s 0.1s ease;
  transition: -webkit-transform 0.2s 0.1s ease;
  transition: transform 0.2s 0.1s ease;
  transition: transform 0.2s 0.1s ease, -webkit-transform 0.2s 0.1s ease;
  -webkit-filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.918));
          filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.918));
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  width: 100%;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 50px 0px;
  -webkit-transition: -webkit-transform 300ms ease 100ms;
  transition: -webkit-transform 300ms ease 100ms;
  transition: transform 300ms ease 100ms;
  transition: transform 300ms ease 100ms, -webkit-transform 300ms ease 100ms;
}

.slider .item:hover .show-details-button {
  opacity: 1;
}

.slider .item:hover {
  -webkit-transform: scale(1.5) !important;
          transform: scale(1.5) !important;
}

.slider:hover .item {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

.slider .item:hover ~ .item {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.slider a {
  display: block;
}

.slider .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19.7%;
          flex: 0 0 19.7%;
  -webkit-transition: -webkit-transform 300ms ease 100ms;
  transition: -webkit-transform 300ms ease 100ms;
  transition: transform 300ms ease 100ms;
  transition: transform 300ms ease 100ms, -webkit-transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;
}

.slider .item img {
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.slider .item__gradient-overlay {
  opacity: 0;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(17, 17, 17, 0.909401) 87%);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.slider .item__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
  color: white;
  position: absolute;
  top: 0;
  font-size: 12px;
  text-shadow: 1px 1px 2px black;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  height: 100%;
  width: 100%;
  padding: 5% 10%;
}

.slider .item__content h1 {
  font-weight: 700;
  font-size: 16px;
}

.slider .item__content .genre {
  font-size: 10px;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.slider .item__hoverCover {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  left: 0;
}

.slider .item:hover .item__hoverCover {
  opacity: 1;
}

.slider .item:hover .item__content {
  opacity: 1;
}

.slider .item:hover .item__gradient-overlay {
  opacity: 1;
}

.slider-large-container .item__cover {
  height: 100%;
}

.slider-large-container .item:hover .show-details-button {
  opacity: 1;
}

.slider-large-container .item:hover {
  -webkit-transform: scale(1.25) !important;
          transform: scale(1.25) !important;
}

.slider-large-container:hover .item {
  -webkit-transform: translateX(-12.5%);
          transform: translateX(-12.5%);
}

.slider-large-container .item:hover ~ .item {
  -webkit-transform: translateX(12.5%);
          transform: translateX(12.5%);
}

.player__video {
  width: 100%;
}

.controler {
  position: absolute;
  width: 100%;
  bottom: 0%;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.controler.is-invisible {
  opacity: 0;
}

.play__start {
  width: 15px;
  height: 15px;
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
  background-color: #e3e3e3;
}

.play__pause {
  position: relative;
  width: 15px;
  height: 15px;
}

.play__pause::before {
  position: absolute;
  content: '';
  display: block;
  width: 5px;
  height: 15px;
  background-color: #e3e3e3;
  left: 0px;
}

.play__pause::after {
  position: absolute;
  content: '';
  display: block;
  width: 5px;
  height: 15px;
  background-color: #e3e3e3;
  right: 0px;
}

.progress-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 5px;
  margin-bottom: 5px;
}

.progress-bar__bar {
  height: 100%;
  width: 100%;
  background-color: #414141;
}

.progress-bar__bar:hover {
  cursor: pointer;
  -webkit-transform: scaleY(200%);
          transform: scaleY(200%);
}

.progress-bar__bar[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
}

.progress-bar__bar[value]::-webkit-progress-bar {
  background-color: #e3e3e3;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress-bar__bar[value]::-moz-progress-bar {
  background-color: #e3e3e3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress-bar__infos {
  width: 150px;
  border: 2px solid #525252;
  border-radius: 3px;
  visibility: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.progress-bar:hover .progress-bar__infos {
  visibility: visible;
}

.infos__time {
  padding: 5px 0px;
  width: 100%;
  text-align: center;
  background-color: #525252;
  color: #e3e3e3;
}

.infos__video {
  width: 100%;
}

.progress-bar__time--indication {
  text-align: center;
  color: #e3e3e3;
  width: 50px;
  margin-left: 5px;
}

.controler__buttons {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.controler__play-volume {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

.volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.volume:hover .volume__controller {
  opacity: 1;
}

.volume__mute {
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.volume__mute:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.volume__mute:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.volume__mute svg {
  width: 20px;
  fill: white;
}

.volume__mute.is-muted::after {
  position: absolute;
  content: '';
  display: block;
  width: 2px;
  height: 20px;
  background-color: white;
  -webkit-transform: translateY(-100%) translateX(400%) rotate(45deg);
          transform: translateY(-100%) translateX(400%) rotate(45deg);
}

.volume__controller {
  opacity: 0;
  position: relative;
  width: 60px;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.volume__controller input {
  width: 100%;
  cursor: pointer;
}

.volume__controller input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.volume__controller input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.volume__controller input[type='range']:focus {
  outline: none;
}

.volume__controller input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.volume__controller input::-moz-range-thumb {
  background-color: white;
  height: 15px;
  width: 5px;
  border-radius: 0px;
}

.volume__controller input::-moz-range-track {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

.controler__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controler__scroll button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: none;
}

.controler__scroll button svg {
  height: 20px;
  fill: #e3e3e3;
}

.controler__scroll button:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.controler__scroll button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.backwards {
  margin-right: 10px;
}

.controler__full-screen button {
  width: 40px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.controler__full-screen button:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.controler__full-screen button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.controler__full-screen button svg {
  fill: #e3e3e3;
  width: 100%;
}

.controler__full-screen button .exit-fullscreen {
  display: none;
}

.controler__full-screen button.is-fullScreen .exit-fullscreen {
  display: block;
}

.controler__full-screen button.is-fullScreen .go-fullscreen {
  display: none;
}

.player {
  color: #e3e3e3;
  position: relative;
  width: 100%;
}

.playerButton {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline-style: none;
  padding: 5px;
}

.playerButton:hover {
  cursor: pointer;
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.playerButton:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
  max-height: 100%;
  color: white;
  margin-top: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.profil .edit {
  cursor: pointer;
}

.profil__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profil__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
}

.profil__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.profil__information--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  margin-left: 30px;
}

.profil__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
}

.profil__stat:hover {
  cursor: pointer;
  text-decoration: none;
}

.profil__arrow {
  margin-left: 8px;
  -webkit-transition: 0.1s ease-in forwards;
  transition: 0.1s ease-in forwards;
}

.profil__arrow:hover {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

.profil__img {
  width: 150px;
  height: 150px;
}

.profil h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  margin-left: 8px;
}

.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 64px;
}

.second__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
}

.second__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.second__answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 30px;
}

.second .name {
  margin-top: 32px;
}

.third__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
}

.third__info span {
  width: 10px;
  margin: 10px;
}

.third a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #16a3cf;
}

.third a:hover {
  cursor: pointer;
  text-decoration: none;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.title--name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profil__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  margin-left: 150px;
}

.fourth {
  margin-top: 80px;
}

.fourth__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
}

.fourth a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #16a3cf;
  margin-top: 12px;
}

.fourth a:hover {
  text-decoration: none;
  cursor: pointer;
}

.fourth__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  width: 252px;
  height: 50px;
  color: black;
  background: #e3e3e3;
  border-radius: 5px;
  margin-top: 24px;
  border: 0px;
}

.fourth__button:hover {
  background: #16a3cf;
  color: white;
}

.footer__container {
  width: 100vw;
  height: 284px;
  padding: 0px 70px 0px 50px;
  background-color: #0e0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e3e3e3;
  font-size: 18px;
  font-weight: 500;
}

.footer__component {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 50px;
  font-weight: 600;
}

.footer__title > span {
  color: #16a3cf;
}

.social__medias > p {
  margin-bottom: 30px;
}

.social__logos {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__logos > svg {
  fill: #e3e3e3;
}

.title-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e3e3e3;
  font-size: 1.5rem;
  font-weight: 600;
}

.title-component::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #16a3cf;
  border-radius: 50%;
  margin-right: 10px;
}

.topFive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
}

.topFive__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 100%;
  z-index: 2;
  top: 0;
  stroke-dashoffset: 650;
  stroke-dasharray: 650;
}

.topFive__number.appear {
  -webkit-animation: line-anim 5s ease-out forwards;
          animation: line-anim 5s ease-out forwards;
}

@-webkit-keyframes line-anim {
  from {
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #16a3cf;
  }
}

@keyframes line-anim {
  from {
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: #16a3cf;
  }
}

@-webkit-keyframes finish {
  from {
    fill: #16a3cf;
    stroke-dashoffset: 0;
  }
  to {
    fill: transparent;
    stroke-dashoffset: 650;
  }
}

@keyframes finish {
  from {
    fill: #16a3cf;
    stroke-dashoffset: 0;
  }
  to {
    fill: transparent;
    stroke-dashoffset: 650;
  }
}

.series__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.series__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 100px;
}

.series__title {
  font-size: 100px;
  font-weight: 600;
  opacity: 0.8;
  color: #e3e3e3;
  text-align: center;
}

.large__slider {
  margin: 100px 0px;
}

.movies__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 100px;
}

.movies__title {
  font-size: 100px;
  font-weight: 600;
  opacity: 0.8;
  color: #e3e3e3;
  text-align: center;
}

.large__slider {
  margin: 100px 0px;
}

.player-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-page__content {
  color: #e3e3e3;
  margin-top: 100px;
  width: 90%;
}

.player-page__back-to-home {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.player-page__back-to-home:hover {
  text-decoration: underline;
}

.player-page__back-to-home svg {
  fill: #e3e3e3;
  width: 20px;
  margin-right: 10px;
}

.player-page__video-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1100px) {
  .player-page__video-description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1100px) {
  .player-page__video {
    margin-right: 40px;
  }
}

.description {
  width: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  margin-top: 50px;
}

@media (min-width: 1100px) {
  .description {
    margin: 0;
    height: auto;
  }
}

.description__title h1 {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.description__title h1::before {
  display: inline-block;
  content: '';
  height: 5px;
  width: 20px;
  background-color: #16a3cf;
  margin-right: 10px;
}

.description__title p {
  font-size: 1.4rem;
  font-weight: 300;
}

.descriptions__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.descriptions__buttons button {
  margin-right: 30px;
}

.descriptions__buttons button:nth-child(2) {
  background-color: #515151;
}

.button--play {
  margin-right: 15px;
}

.button__play-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.button__play-content::before {
  content: '';
  display: inline-block;
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
  width: 20px;
  height: 20px;
  background-color: #e3e3e3;
  margin-right: 10px;
}

.button__season-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.button__season-content::after {
  content: '';
  margin-left: 10px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  -webkit-transform: rotate(45deg) translateY(-10%);
          transform: rotate(45deg) translateY(-10%);
}

.button__season-content.is-clicked::after {
  -webkit-transform: rotate(225deg) translateY(-2px) translateX(-5px);
          transform: rotate(225deg) translateY(-2px) translateX(-5px);
}

.seasons-list {
  position: absolute;
  left: 195px;
  top: 60px;
  width: 165px;
  background-color: #515151;
  border-radius: 3px;
}

.seasons-list li {
  cursor: pointer;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  border-bottom: 1px solid #0e0e0e;
}

.seasons-list li:hover {
  color: #16a3cf;
}

.button__download {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.button__download svg {
  width: 40px;
  height: 30px;
}

.button__download svg path {
  stroke: #e3e3e3;
}

.button__download svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.button__download svg:hover path {
  stroke: #16a3cf;
}

.description__synopsis {
  line-height: 1.3rem;
}

.description__synopsis span {
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 10px;
}

.description__actors {
  line-height: 1.2rem;
}

.description__actors span {
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 10px;
}

.player-page__series-episodes {
  width: 90%;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player-page__series-episodes button {
  cursor: pointer;
  background-color: #515151;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.player-page__series-episodes button:hover {
  color: #16a3cf;
}

.player-page__slider {
  margin-top: 50px;
  height: 200px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes falling-logo {
  from {
    top: 25%;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 40%;
  }
}

@keyframes falling-logo {
  from {
    top: 25%;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 40%;
  }
}

@-webkit-keyframes sliding-background {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes sliding-background {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@-webkit-keyframes appears-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appears-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-page {
  margin-top: 51px;
  background-color: #0e0e0e;
}

.hero-home {
  width: 100%;
  position: relative;
}

.hero-home .hero-logo {
  position: absolute;
  opacity: 0;
  left: 10%;
  top: 25%;
  -webkit-animation: falling-logo 0.5s 1.5s forwards ease-out;
          animation: falling-logo 0.5s 1.5s forwards ease-out;
  z-index: 4;
}

.hero-home .hero-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(#0e0e0e), color-stop(31%, rgba(255, 255, 255, 0)), to(rgba(14, 14, 14, 0)));
  background: linear-gradient(0deg, #0e0e0e 0%, rgba(255, 255, 255, 0) 31%, rgba(14, 14, 14, 0) 100%);
}

.hero-home .hero-background {
  z-index: 2;
  width: 100%;
  -webkit-animation: sliding-background 1.5s 0.5s ease forwards;
          animation: sliding-background 1.5s 0.5s ease forwards;
}

.hero-home .first-slider {
  z-index: 2;
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-animation: appears-opacity 1.5s 1s ease forwards;
          animation: appears-opacity 1.5s 1s ease forwards;
}

.hero-home .first-slider h1 {
  margin-left: 2%;
}

body {
  overflow-x: hidden;
}
/*# sourceMappingURL=styles.css.map */