$breakpoint-medium: 969px;

.signup {
  &__nav {
    width: 936px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    background-color: $color-neutral-light;
    font-weight: 600;
    @media (max-width: $breakpoint-medium) {
      width: 410px;
      height: 50px;
    }
    &--signin {
      width: 468px;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #afafaf;
      cursor: pointer;
      &:hover {
        color: $color-neutral-dark;
      }
    }
    &--signup {
      width: 468px;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary;
      border-radius: 10px 10px 0px 0px;
      box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.2);
      color: $color-neutral-light;
    }
  }

  // Form part
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 936px;
    background-color: $color-background-register;
    font-size: 18px;
    font-weight: 300;
    color: $color-neutral-dark;
    border-radius: 10px;
    @media (max-width: $breakpoint-medium) {
      width: 410px;
      height: 520px;
    }
  }
  &__form {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: flex-start;
      padding-top: 20px;
      text-align: right;
      margin-bottom: 50px;
      @media (max-width: $breakpoint-medium) {
        padding-top: 30px;
        height: auto;
        margin-bottom: 0px;
      }
    }
  }
}
.form {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $breakpoint-medium) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__component {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-medium) {
      margin-bottom: 20px;
      align-items: center;
    }
    & > p {
      width: 40%;
      margin-right: 20px;
      @media (max-width: $breakpoint-medium) {
        width: 120px;
        height: 15px;
        font-size: 14px;
        justify-content: center;
      }
    }
    & > input::placeholder {
      font-family: poppins;
      font-size: 16px;
      font-weight: 300;
      opacity: 0.5;
    }
  }
  &__part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
  }
}
.form__left {
  margin-right: 40px;
  @media (max-width: $breakpoint-medium) {
    margin: 0;
  }
}
.submit__sign-up {
  font-family: poppins;
  padding: 10px 30px 10px 30px;
  font-weight: 600;
  border-radius: 5px;
  color: $color-neutral-light;
  background-color: $color-neutral;
  border: none;
  margin-bottom: 30px;
  &:hover {
    background-color: $color-primary;
    border: none;
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.7;
    cursor: default;
    &:hover {
      background-color: $color-neutral;
    }
  }
  @media (max-width: $breakpoint-medium) {
    margin: 0;
    font-size: 14px;
    margin-bottom: 40px;
  }
}

.warning {
  color: red;
  position: absolute;
  top: 35px;
  left: 215px;
  font-size: 0.9rem;
  text-align: left;
  @media (max-width: $breakpoint-medium) {
    font-size: 0.7rem;
    top: 30px;
    left: 140px;
  }
}

.mailError {
  position: absolute;
  top: 70%;
  color: red;
  font-size: 0.9rem;
  left: 50%;
  transform: translateX(-50%);
}
