.signup {
  &__nav {
    width: 936px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    background-color: $color-neutral-light;
    font-weight: 600;
    &--signin {
      width: 468px;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #afafaf;
      cursor: pointer;
      &:hover {
        color: $color-neutral-dark;
      }
    }
    &--signup {
      width: 468px;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary;
      border-radius: 10px 10px 0px 0px;
      box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.2);
      color: $color-neutral-light;
    }
  }

  // Form part
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 936px;
    height: 490px;
    background-color: $color-background-register;
    font-size: 18px;
    font-weight: 300;
    color: $color-neutral-dark;
    border-radius: 10px;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: flex-start;
      padding-top: 60px;
      text-align: right;
      margin-bottom: 50px;
    }
  }
}
.form {
  &__component {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > p {
      width: 150px;
      margin-right: 20px;
    }
  }
  &__part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.submit {
  font-family: poppins;
  padding: 10px 30px 10px 30px;
  font-weight: 600;
  border-radius: 5px;
  color: $color-neutral-light;
  background-color: $color-neutral;
  border: none;
  &:hover {
    background-color: $color-primary;
    border: none;
  }
  &:disabled {
    opacity: 0.7;
    cursor: default;
    &:hover {
      background-color: $color-neutral;
    }
  }
}

/* a {
  color: inherit;
  text-decoration: none;
} */

.warning {
  color: red;
  position: absolute;
  top: 40px;
  left: 180px;
  font-size: 0.9rem;
}
