.controler__full-screen button {
  width: 40px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;

  &:hover {
    transform: scale(120%);
  }

  &:active {
    transform: scale(0.9);
  }

  & svg {
    fill: $color-neutral-light;
    width: 100%;
  }

  & .exit-fullscreen {
    display: none;
  }

  &.is-fullScreen .exit-fullscreen {
    display: block;
  }
  &.is-fullScreen .go-fullscreen {
    display: none;
  }
}
