.slider-container {
  position: relative;

  .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    cursor: pointer;
    &:hover .arrow {
      transform: scale(1.9);
    }
  }

  .arrow-wrapper-next {
    right: 0%;
  }

  .arrow-wrapper-prev {
    left: 0%;
  }

  .arrow {
    transform: scale(1.5);
    transition: transform 0.2s 0.1s ease;
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.918));
  }
}

.slider-wrapper {
  display: flex;
  z-index: 3;
  width: 100%;
}
.slider {
  display: flex;
  align-items: center;
  position: relative;
  margin: 50px 0px;
  transition: transform 300ms ease 100ms;

  & .item:hover .show-details-button {
    opacity: 1;
  }

  & .item:hover {
    transform: scale(1.5) !important;
  }

  &:hover .item {
    transform: translateX(-25%);
  }

  & .item:hover ~ .item {
    transform: translateX(25%);
  }
  a {
    display: block;
  }

  .item {
    flex: 0 0 19.7%;
    transition: transform 300ms ease 100ms;
    margin: 0 2px;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      vertical-align: top;
    }

    &__gradient-overlay {
      opacity: 0;
      background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0) 0%,
        rgba(17, 17, 17, 0.9094012605042017) 87%
      );
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
    }

    &__content {
      box-sizing: border-box;
      z-index: 3;
      color: $color-neutral-light;
      position: absolute;
      top: 0;
      font-size: 12px;
      text-shadow: 1px 1px 2px black;
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: opacity 0.5s ease;
      height: 100%;
      width: 100%;
      padding: 5% 10%;

      h1 {
        font-weight: 700;
        font-size: 16px;
        flex-basis: 30%;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: darken($color: $color-neutral-light, $amount: 20);
        }
      }

      .genre {
        font-size: 10px;
        font-weight: 300;
        flex-basis: 70%;
      }

      .tagline {
        flex-basis: 50%;
      }
      .seasons {
        color: darken($color: $color-neutral-light, $amount: 20);
      }
    }

    &__hoverCover {
      top: 0;
      transition: opacity 0.3s ease;
      opacity: 0;
      position: absolute;
      left: 0;
    }
  }

  .item:hover {
    .item__hoverCover {
      opacity: 1;
    }

    .item__content {
      opacity: 1;
    }

    .item__gradient-overlay {
      opacity: 1;
    }
  }
}

.slider-large-container {
  .slider {
    .item__cover {
      height: 100%;
    }
    & .item:hover .show-details-button {
      opacity: 1;
    }

    & .item:hover {
      transform: scale(1.25) !important;
    }

    &:hover .item {
      transform: translateX(-12.5%);
    }

    & .item:hover ~ .item {
      transform: translateX(12.5%);
    }
  }
}
